body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  justify-content: space-around;
  align-items: center;
  gap: 36px;
  padding: 92px 24px 96px;
}

.header__menu {
 margin-left: 26px;
 white-space: nowrap;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;  
}

.header__links-list-item_no-bullet {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid #000;
  letter-spacing: 0.01em;
  text-decoration: none;
}

.header__link_active {
  border-bottom: none;
}

.header__address {
  margin-left: 148px;
  line-height: 135%;
}

.address a{
  border-bottom: 1px solid #000;
  font-style: normal;
  text-decoration: none;
}

/* COVER */

.cover {
  display: grid;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 757px;
  position: relative;
  color: #fff;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cover__title {
  position: relative;
  z-index: 3;
  width: 100%;
  font-weight: 700;
  font-size: 100px;
  line-height: 1;
  letter-spacing: 0.3em;
  margin: 170px 50px 237px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  margin-top: 30px;
  margin-right: 99px;
  text-align: center;
}

.aligned-text_right {
  margin-top: 20px;
  margin-right: 70px;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  bottom: 105px;
  margin-right: 50px;
  margin-left: 78px;
  position: relative;
  z-index: 2; 
  color: #fff;
  white-space: nowrap;
}
.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  
  word-spacing: 19px;

}
.bet-button {
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  margin-left: 78px;
  padding: 12px 32px;
  text-decoration: none;
  border: 1px solid #fff;
}

/* LOTS */
.lots {
  margin: 179px 24px 146px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  margin-left: 40px;
  margin-bottom: 27px;

}

.lots__card-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-bottom: 30px;;
}


.card-link {
  color: #fff;
  width: 334px;
  height: 563px;
  position: relative;
  display: flex;
  text-decoration: none;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  margin-top: 51px;
  z-index: 1;
  text-transform: uppercase;
  text-decoration: underline;
  margin-left: 40px;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
}

.card__text {
  z-index: 1;
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-decoration: none;
  margin-bottom: 48px;
  margin-right: 40px;
  margin-left: 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.lots__look-more-link {
  font-weight: 400;
  font-size: 20px;
  margin-left: 40px;
}